@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

.wrap{
    width: 900px;
    margin: 0 auto;
}

.wrap>div{
    margin-top: 50px;
    border-top: 1px solid #ddd;
}

.wrap>div h2{
    text-align: center;
    margin: 10px 0;
}

.table1{}
.table1 table{
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
}
.table1 table tr{}
.table1 table tr th{
    border: 1px solid #ccc;
}
.table1 table tr td{
    border: 1px solid #ccc;
}

.table1-2{}
.table1-2 table{
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
}
.table1-2 table tr{}
.table1-2 table tr th{
    border: 1px solid #ccc;
}
.table1-2 table tr td{
    border: 1px solid #ccc;
}

.table2{}
.table2 table{
    width: 100%;
    border: 1px solid #ccc;
}

.table2 table,
.table2 table tr th,
.table2 table tr td{
    border: 1px solid #ccc;
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
    background-color: cadetblue;
}

.table2 table tr:nth-child(1){
    border-bottom: 3px double #000;
}
.table2 table tr:nth-child(2){
    height: 100px;
}


.table2 table tr th:nth-child(1){
    width: 20%;
}
.table2 table tr th:nth-child(2){
    width: 60%;
}
.table2 table tr th:nth-child(3){
    width: 20%;
}

.table3 table{
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
}
.table3 table tr{}
.table3 table tr th{
    border: 1px solid #ccc;
}
.table3 table tr td{
    border: 1px solid #ccc;
}
.table3 table,
.table3 table tr th,
.table3 table tr td{
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
}

.table4 table{
    width: 100%;
}
.table4 table,
.table4 table tr th,
.table4 table tr td{
    border: 1px solid #ccc;
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
    background-color: cadetblue;
}

.table5 table{
    width: 100%;
}
.table5 table,
.table5 table tr th,
.table5 table tr td{
    border: 1px solid #ccc;
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
    background-color: cadetblue;
}

.table6 table{
    width: 100%;
}
.table6 table,
.table6 table tr th,
.table6 table tr td{
    border: 1px solid #ccc;
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
    background-color: cadetblue;
}

.table7 table{
    width: 100%;
}
.table7 table,
.table7 table tr th,
.table7 table tr td{
    border: 1px solid #ccc;
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
}

/*   //even이랑 2n은 짝수, odd랑 2n+1은 홀수
.table7 table tr:nth-child(even){
    background-color: rgba(60, 70, 161, 0.692);   
} */

.table7 table tr:nth-child(2n){
    background-color: rgba(60, 70, 161, 0.692);   
}

.table7 table tr:nth-child(odd){
    background-color: rgba(41, 185, 142, 0.692);   
}

.table7 table tr th:nth-child(even),
.table7 table tr td:nth-child(even){
    background-color: rgba(64, 126, 240, 0.692);
}

.table8 table{
    width: 100%;
}
.table8 table,
.table8 table tr th,
.table8 table tr td{
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
}

.table8 table tr{
    border-bottom: 1px solid #ccc;
    transition: 0.3s;
}
.table8 table tr:hover{
    background-color: #f080ab;
}

.table9 table{
    width: 100%;
    margin-bottom: 50px;
}
.table9 table,
.table9 table tr th,
.table9 table tr td{
    border: 1px solid #ccc;
    border-collapse: collapse; /* table 열 사이의 공간 제거*/
    padding: 15px;
    text-align: center;
}

.table9 colgroup col:nth-child(1){
    background-color: #f3b072d5;
}

.table9 colgroup col:nth-child(2){
    background-color: #f39072d5;
}

.table9 colgroup col:nth-child(3){
    background-color: #f37272d5;
}